.rh-events-calendar .elementor-grid {
  --grid-column-gap: 30px;
  --grid-row-gap: 35px;
}

.rh-events-calendar .elementor-posts--skin-classic .elementor-post {
  overflow: hidden;
}

.rh-events-calendar
  .elementor-posts-container.elementor-has-item-ratio
  .elementor-post__thumbnail.elementor-fit-height
  img {
  height: 100%;
  width: auto;
}

.rh-events-calendar
  .elementor-posts-container.elementor-has-item-ratio
  .elementor-post__thumbnail
  img {
  height: auto;
  position: absolute;
  top: calc(50% + 1px);
  left: calc(50% + 1px);
  transform: scale(1.01) translate(-50%, -50%);
}

.rh-events-calendar .elementor-posts-container .elementor-post__thumbnail img {
  display: block;
  width: 100%;
  max-height: none;
  max-width: none;
  transition: filter 0.3s;
}

.rh-events-calendar .elementor-posts .elementor-post__thumbnail {
  position: relative;
}

.rh-events-calendar .elementor-posts-container .elementor-post__thumbnail {
  padding-bottom: calc(0.57 * 100%);
  overflow: hidden;
}

.rh-events-calendar
  .elementor-posts-container.elementor-has-item-ratio
  .elementor-post__thumbnail {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rh-events-calendar
  .elementor-posts-container
  .elementor-post__thumbnail__link {
  display: block;
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.rh-events-calendar.elementor-posts--thumbnail-top .elementor-post__text {
  width: 100%;
}

.rh-events-calendar .elementor-posts .elementor-post__title {
  margin: 0;
}

.rh-events-calendar .elementor-posts .elementor-post__title a {
  color: var(--e-global-color-primary);
  font-size: 30px;
}

.rh-events-calendar .elementor-posts .elementor-post__title a:hover {
  color: var(--e-global-color-accent);
}

.rh-events-calendar .elementor-posts .elementor-post__meta-data {
  color: #849a85;
  font-family: "Neutra Text Alt", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.rh-events-calendar .elementor-posts .elementor-post__excerpt p {
  color: #000000;
  font-size: 20px;
  line-height: 28px;
}
